<div class="header ">
    <nav class="navbar navbar-expand-lg navbar-light sticky" style="background:radial-gradient(#fff, #ffd6d6)">
  <div class="container-fluid">
    <%= link_to 'RedStore', root_path , class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Products', pages_product_path , class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sales', pages_offer_path , class:"nav-link" %>
        </li>
      </ul>
      <img src="<%= asset_path('cart.png') %>" alt="" height="30px" width="30px"/>
      <% if user_signed_in? %>
        <div class="dropdown">
  <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <%= current_user.name %>    <i class="fa fa-user" aria-hidden="true"></i>

  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    
    <li><%= link_to 'Edit Profile', edit_user_registration_path, class:"dropdown=item nav-link" %></li>
    <li><%= link_to 'Sign Out', destroy_user_session_path,data:{turbo_method: :delete} ,class:"dropdown=item nav-link my-1"%></li>

  </ul>
      </div>

      <% else %>
        <%= link_to 'Log In' , new_user_session_path,  class: "nav-link login" %>
      <%end%>
     
    </div>
  </div>
</nav>

</div>


